
p { margin-left: 0.4em; margin-right: 0.4em; }

pre.programlisting { 
	background-color: #dddddd;
	margin-left: 0.6em; margin-right: 1em;
	padding: 0.3em; width: 50em;
}

h1.title { border-bottom: solid #cc3333; }

div.toc { 
	border-right: thin solid #cc3333;
	}

h2 { border-top: thin solid #cc3333;
     padding-top: 1em; }

